<nav id="menu-wrapper">
    <div id="main-menu">
        <h1 class="logo"> Clean-Team</h1>
        <ul>
            <li>Accueil</li>
            <li>Chambres</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="trigger">
        <button id="menu-trigger">menu</button>
    </div>
</nav>