@import "nav";
@import "card";

$green: #ccf6c8;
$light-green: #fafcc2;
$pink-red: #f6d6ad;
$light-pink: #f9c0c0;
$white: #ffffff;

html, body {
  background-color: $white;
  min-width: 100vw;
  margin:0;
  padding:0;
}
