
#menu-wrapper {
  transform: translateY(-50%);
  transition: all .8s ease;
}

#main-menu {
  //background-color: $light-pink;
  display: flex;
  justify-content: space-between;
  color: #0e0e0e;
  padding: 1rem;
  margin: 0;
  font-size: 1.8rem;
  height: 0;
  opacity: 0;
  -webkit-box-shadow: 1px 1px 14px 2px rgba(239, 239, 239, 1);
  -moz-box-shadow: 1px 1px 14px 2px rgba(239, 239, 239, 1);
  box-shadow: 1px 1px 14px 2px rgba(239, 239, 239, 1);
  -webkit-transition: height .6s ease;
  -moz-transition: height .6s ease;
  transition: height .6s ease;

}

.show-menu {
  transform: translateY(0) !important;
}

.show-menu #main-menu {
  height: auto;
  opacity: 1;
}

#main-menu ul {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#main-menu ul li {
  list-style-type: none;
  padding: 2px;

}

.logo {
  font-size: 2rem;
}

.menu-trigger {
  margin: 1rem !important;
}

@media only screen and (min-width: 720px) {
  #menu-wrapper {
    transform: translateY(0);
    transition: all .8s ease;
  }

  #main-menu {
    height: auto;
    opacity: 1;
  }
  #main-menu ul {
    flex-direction: row;
  }
  #menu-trigger {
    display: none;
  }
}